*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    z-index: 999999;
    width: 100%;
    height: 163px;
    background-color: #0d0d2b94;
    position: fixed;
}
.main{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 400px;
}
.cop-name{
    color: white;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    margin-left: 16px;
}
.header-stufs{
    display: flex;
    justify-content: center;
    margin-left: 450px;
}
.s1{
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
}
.s2{
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    margin-left: 32px;
}
.s3{
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    margin-left: 32px;
}
.s4{
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    margin-left: 32px;
}
.s5{
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    margin-left: 56px;
}
.line{
    display: inline-block;
    width: 1px;
    height: 24px;
    background: #f2f2f2;
    margin-left: 24px;
    margin-right: 24px;
}
.header-button{
    transition-duration: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 52px;
    border-radius: 32px;
    background-color: #3671E9;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.h-b-t-register{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.header-button:hover{
    background-color: white;
    color: #3671E9;
}


.first-section{
    width: 100%;
    height: 850px;
    background-color: #0D0D2B;
    background-image: url(../Assets/Images/Illustration.png);
    background-position: 946px 163px;
    background-repeat: no-repeat;
    background-size: 100;
    padding-top: 243px;
}
.value-proposition{
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 468px;
    margin-left: 400px;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 365px;
    height: 40px;
    background-color: #FFFFFF1A;
    border-radius: 32px;
}
.save{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 32px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    color: #0D0D2B;
}
.info-t{
    margin-left: 16px;
    font-family: Rubik;
    font-weight: 400;
    color: white;
    font-size: 16px;
}
.f-s-text{
    margin-left: 400px;
    margin-top: -400px;
}
.f-s-title{
    width: 588px;
    font-family: Rubik;
    font-weight: 700;
    font-size: 64px;
    color: #ffffff;
}
.f-s-undertitle{
    width: 435px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    color: #E0E0E0;
    margin-top: 24px;
}
.button-try-f-f{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 64px;
    border-radius: 32px;
    background-color: #3671E9;
    color: white;
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    transition-duration: .3s;
    margin-top: 32px;
}
.button-try-f-f:hover{
    background-color: #ffffff;
    color: #3671E9;
}

@font-face {
    font-family: Rubik;
    src: url('../Assets/Fonts/Rubik-VariableFont_wght.ttf');
}
section {
    background-color: #2B076E;
    height: 1874px;
    width: 100%;
}
.section_sentiments {
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    height: 120px;
    width: 758px;
    margin: auto;
    padding-top: 100px;
}

.section_invest {
    height: 427px;
    width: 1134px;
    margin-top: 160px;
    margin-left: 320px;
    display: flex;
    justify-content: space-between;
}

.section_smart {
    height: 219px;
    width: 259px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}
.image1 {
    height: 427px;
    width: 580px;
}
.section_text {
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.section_full {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    color: #E0E0E0;
    height: 56px;
    width: 408px;
    line-height: 28px;
}
.section_button {
    height: 59px;
    width: 162px;
    background-color: #3671E9;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}
.section_button:hover {
    background-color: white;
}
.section_button:hover .section_learn {
    color: #3671E9;
}
.section_learn {
    font-size: 18px;
    font-family: Rubik;
    font-weight: 500;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}





.section_statistic {
    height: 453px;
    width: 1255px;
    margin-top: 120px;
    margin-left: 320px;
    display: flex;
    justify-content: space-between;
}

.image2 {
    height: 453px;
    width: 710px;
}
.div_statistic {
    height: 247px;
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 105px;
}
.div_detail  {
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.div_view  {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    color: #E0E0E0;
    line-height: 28px;
}
.section_button2  {
    height: 59px;
    width: 162px;
    background-color: #3671E9;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}
.section_button2:hover {
    background-color: white;
}
.section_button2:hover .section_learn2 {
    color: #3671E9;
}
.section_learn2 {
    font-size: 18px;
    font-family: Rubik;
    font-weight: 500;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}




.section_profit {
    height: 334px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 320px;
}
.div_track {
    height: 295px;
    width: 454px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.div_grow {
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    color: white;
    line-height: 48px;
}
.div_chart {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    color: #E0E0E0;
    line-height: 28px;
}
.section_button3 {
    height: 59px;
    width: 162px;
    background-color: #3671E9;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}
.section_button3:hover {
    background-color: white;
}
.section_button3:hover .section_learn3 {
    color: #3671E9;
}
.section_learn3 {
    font-size: 18px;
    font-family: Rubik;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

@media screen and (max-width:1440px){
    .section_invest {
        margin-left: 120px;
    }    
    .section_statistic {
        margin-left: 0px;
    }
    .section_profit {
        margin-left: 120px;
    }
}